body {
  font-family: "poppins", serif;
}

.main {
  text-align: center;
  width: auto;
  background-color: #fff;
  margin-left: 40%;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(76, 175, 80);
  background: linear-gradient(
    0deg,
    rgba(76, 175, 80, 1) 60%,
    rgba(4, 102, 7, 1) 94%
  );
  width: 30%;
  height: 100%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #fff;
  overflow-x: hidden;
}

.sidenav nav {
  border-top: 1px solid #fff;
  margin: 20px;
  padding: 5px;
  align-items: center;
}

.sidenav ul,
a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  margin-top: 5px;
  transition: ease-out 0.5s;
}

.sidenav a:hover {
  padding: 0 100px 0 100px;
  background-color: #fff;
  cursor: pointer;
  color: #000000;
}

.sidenav li {
  list-style-type: none;
  margin-top: 20px;
}

.sidenav-header {
  margin: 20px 20px 50px 20px;
  text-align: center;
}

.sidenav button {
  margin-top: 80%;
  border-radius: 10px;
  padding: 10px 20px;
}
