body {
  font-family: "poppins", serif;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar {
  display: none;
}

.add-kontak {
  position: relative;
}

.contact-card {
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  border: 1px solid #d8d3d3;
  animation: fadeIn 0.7s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.add-kontak {
  animation: opacity 2.5s ease-out;
  transition: all 0.3s ease;
}

@keyframes opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.contact-card:hover {
  transform: translateY(-5px);
  background-color: #8ac975;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.contact-actions .btn {
  font-size: 0.9rem;
}

.contact-actions .btn-sm {
  padding: 5px 10px;
}

/* Modal Styles */
.modal-content {
  border-radius: 8px;
}

.modal-header .btn-close {
  background-color: #ddd;
}

.modal-body p {
  font-size: 1rem;
}
