body {
  font-family: "poppins", serif;
  background-color: #f9f9f9;
}

body::-webkit-scrollbar {
  display: none;
}

.main {
  text-align: center;
  margin-left: 18%;
  padding: 20px;
}

.main-content {
  margin: 0 auto;
  margin-top: 2rem;
}

.add-kontak {
  position: fixed;
  right: 0;
  margin-right: 20px;
}

.main nav {
  z-index: 999;
}

.contact-card {
  border-radius: 10px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  border: 1px solid #d8d3d3;
}

.contact-card:hover {
  transform: translateY(-5px);
  background-color: #8ac975;
}

.contact-info {
  display: flex;
  align-items: center;
}

.contact-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.contact-actions .btn {
  font-size: 0.9rem;
}

.contact-actions .btn-sm {
  padding: 5px 10px;
}

/* Modal Styles */
.modal-content {
  border-radius: 8px;
}

.modal-header .btn-close {
  background-color: #ddd;
}

.modal-body p {
  font-size: 1rem;
}

.sidenav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(76, 175, 80);
  background: linear-gradient(
    0deg,
    rgba(76, 175, 80, 1) 60%,
    rgba(4, 102, 7, 1) 94%
  );
  width: 20%;
  height: 100%;
  /* border-top-right-radius: 20px;
  border-bottom-right-radius: 20px; */
  color: #fff;
  overflow-x: hidden;
}

.sidenav nav {
  border-top: 1px solid #fff;
  margin: 20px;
  padding: 5px;
  align-items: center;
}

.sidenav ul,
a {
  color: #fff;
  text-decoration: none;
  list-style-type: none;
  margin-top: 5px;
  transition: ease-out 0.5s;
}

.sidenav a:hover {
  cursor: pointer;
  color: #7dcf9f;
}

.sidenav li {
  list-style-type: none;
  margin-top: 20px;
}

.sidenav-header {
  margin: 20px 20px 50px 20px;
  text-align: center;
}

.sidenav button {
  margin-top: 80%;
  border-radius: 10px;
  padding: 10px 20px;
}
